.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: #f4f4f4;
    padding-top: -50px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card{
    background-color: rgba(255, 192, 203, 0.938);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.description{
    font-size: 1rem;
    color: #555;
}

.button {
    background-color: #e090a2;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 15px;
}

.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 24px;
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.3);
}

.loadingGif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingGif img {
    width: 440px;
    height: 440px;
}